{% extends 'base.html' %}

{% block title %}About Davis Hoffstatter{% endblock %}

{% block body %}
<main class="container mt-5">
  <h1 class="display-5">About Me</h1>
  <p class="lead">
    I'm a senior at the University of Iowa studying Business Analytics and Information Systems.
     I’m a huge Chicago sports fan —
    especially the Cubs and Bears, and I named my four Labradors after sports players: Theo, Baker, Pete, and Hazel.
  </p>
  <p>
    I am from Moline, Illinois which is about 60 miles east of I-80 from Iowa City. 
  </p>
</main>
{% endblock %}